<div class="footer-main">
	<div id="footer-links">
		<ul class="inline footer-name text-center">
			<li>
				<a href="#" onclick="return false">
				Copyright © 2014 TIBCO Software Inc
				</a>
			</li>
			<li>
				<span class="divider">|</span>
				<a target="_blank" href="http://www.tibco.com/company/privacy.jsp">Privacy Policy</a>
			</li>
			<li>
				<span class="divider">|</span>
				<a target="_blank" href="http://www.tibco.com/company/termsofuse.jsp">Terms of Use</a>
			</li>
			<!-- <li>
				<span class="divider">|</span>
				<a target="_blank" href="http://www.tibco.com/sitemap.jsp">Site Map</a>
			</li> -->
		</ul>
	</div>
</div>