<div class="footer-main">
    <ul class="footerlist">
      <li>
        <a href="#" onclick="return false">
        Copyright © 2014 TIBCO Software Inc
        </a>
      </li>
      <li>
        <span class="divider">|</span>
        <a target="_blank" href="http://www.tibco.com/company/privacy.jsp">Privacy Policy</a>
      </li>
      <li>
        <span class="divider">|</span>
        <a target="_blank" href="http://www.tibco.com/company/termsofuse.jsp">Terms of Use</a>
      </li>
    </ul>
</div>